*body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}
.PokemonScreen {
  border-radius: 5px;
  padding: 5px;
  max-width: 600px;
  position: relative;
}

.navContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.subDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}
.pokemonName {
  color: white;
  font-weight: bolder;
  display: flex;
  justify-content: flex-start;
}

.imageContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  height: 30vh;
}

.pokemonImage {
  right: 20%;
  top: 15%;
  width: 50%;
  z-index: +1;
}

.pokeballImage {
  position: absolute;
  top: 1%;
  right: 5%;
  opacity: 0.08;
  height: 29vh;
}

h3 {
  text-align: center;
}
.btnToChange {
  background-color: transparent;
  border: none;
  height: 5vh;
  width: 5vw;
  font-size: 50px;
  font-weight: lighter;
  color: white;
}
.carrousel {
  position: absolute;
  top: 20%;
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.pokemonInformation {
  background-color: white;
  border-radius: 5px;
  margin-top: 10%;
}
.containerType {
  padding-top: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.specifications {
  display: flex;
  justify-content: space-around;
  border: 0px 0px 2px 0px black solid;
}

.height {
  border-left: 2px solid rgba(0, 0, 0, 0.136);
  border-right: 2px solid rgba(0, 0, 0, 0.136);
  padding-left: 60px;
  padding-right: 60px;
}

.sub-div {
  justify-content: center;
}
.weightImage,
.heigthImage {
  height: 2vh;
  width: 2vh;
}

.type {
  display: inline-block;
  justify-content: center;
  border-radius: 10%;
}
h3 {
  text-align: center;
}

/* BASE STATS */

ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

li {
  list-style: none;
}

.baseStats {
  display: flex;
  flex-direction: row;
  padding-bottom: 4vh;
}
.stats,
.statsNumber {
  width: 100px;
}

.stats {
  border-right: 2px solid rgba(0, 0, 0, 0.134);
  padding-right: 25px;
}

.statsValue {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}

.txtType {
  max-width: 80px;
  min-width: 40px;
  margin-left: 1vw;
  margin-right: 1vw;
  width: 20%;

  text-align: center;
}
.about {
  margin-top: 3vh;
}
.containerSpecifications {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  height: auto;
}
.center {
  border-left: 2px solid black;
  border-right: 2px solid black;
  width: 33%;
}
.specification {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

label {
  color: gray;
}
.description {
  display: flex;
  justify-content: center;
  padding: 2vw;
  font-size: larger;
}
