*body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.PokemonScreen {
  border-radius: 5px;
  padding: 5px;
  max-width: 650px;
  position: relative;
}

.navContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pokemonName {
  color: white;
  font-weight: bolder;
  display: flex;
  justify-content: flex-start;
}

.imageContainer {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  height: 30vh;
}

.slideButton {
  text-decoration: none;
  border: none;
}

.pokemonImage {
  position: absolute;
  right: 20%;
  top: 15%;
  height: 30vh;
  z-index: +1;
}

.pokeballImage {
  position: absolute;
  top: 1%;
  right: 5%;
  opacity: 0.08;
  height: 29vh;
}

.pokemonInformation {
  background-color: white;
  border-radius: 5px;
}

.type {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.specifications {
  display: flex;
  justify-content: space-around;
  border: 0px 0px 2px 0px black solid;
}

.item {
  display: flex;
  justify-content: flex-start;
}

.height {
  border-left: 2px solid rgba(0, 0, 0, 0.136);
  border-right: 2px solid rgba(0, 0, 0, 0.136);
  padding-left: 60px;
  padding-right: 60px;
}

.sub-div {
  padding: 5vh;
  justify-content: center;
}
.weightImage,
.heigthImage {
  height: 2vh;
  width: 2vh;
}

.type {
  display: inline-block;
  justify-content: center;

  border-radius: 10%;
  margin: 10vh;
}
h3 {
  text-align: center;
}
